@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: "Roboto";
    background-color: azure;
}

.container{
    width: 90%;
    padding-left: 5%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container canvas{
    max-width: 45%;
}

header{text-align: center;}